external/qt-everywhere-opensource-src-5.4.1/qtxmlpatterns/tests/auto/xmlpatternsvalidator/files/complex-type-including-anonymous-type.xsd

<schema targetNamespace="http://qt.nokia.com/test"
        xmlns:gml="http://qt.nokia.com/test"
        xmlns="http://www.w3.org/2001/XMLSchema">

    <!-- ============= This is an excerpt from GML (http://www.opengis.net/gml)
                       which used to produce a crash in QXmlSchema ========== -->

    <simpleType name="doubleList">
        <list itemType="double"/>
    </simpleType>

    <complexType name="DirectPositionType">
        <simpleContent>
            <extension base="gml:doubleList"/>
        </simpleContent>
    </complexType>

    <complexType name="VectorType">
        <simpleContent>
            <restriction base="gml:DirectPositionType"/>
        </simpleContent>
    </complexType>

</schema>
