external/qt-everywhere-opensource-src-5.9.1/qtxmlpatterns/tests/auto/xmlpatternsvalidator/files/fractiondigits.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FractionDigitsTest" xmlns:tns="http://www.example.org/FractionDigitsTest" elementFormDefault="qualified">
        <element name="number" type="tns:NumberType" />
        <complexType name="NumberType">
                <sequence>
                        <element name="value">
                                <simpleType>
                                        <restriction base="decimal">
                                                <fractionDigits value="2"/>
                                        </restriction>
                                </simpleType>
                        </element>
                </sequence>
        </complexType>
</schema>
